<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATM</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <label for="card_number">Enter card number</label>
    <input type="text" name="cardnumber" id="card_number">
    <!--<label for="password"> pin</label>
    <input type="password" name="password" id="password">-->
    {% if login_error %}
        <label>{{ login_error }}</label>
    {% else %}
        <label>{{ username1 }}</label>
    {% endif %}
    <input class="button" type="submit" value="Intro">
</form>
</body>
</html>